@model IEnumerable<Movies.Domain.DTO.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-top:25px">
    <div class="card-body">
        <h2 class="card-title">Users</h2>
        <p>
            @Html.ActionLink("Create", "Create", null, null, new { @class = "btn btn-primary" })
        </p>
        <table class="display" id="dgUsers" style="width:100%">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css" />
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            $('#dgUsers').DataTable({
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" }
                ]
            });
        });
    </script>
}