@model Movies.Domain.DTO.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div class="alert alert-danger" role="alert" style="margin-top:25px">
        Movie not found
    </div>
    return;
}
else
{
    <div class="card" style="margin-top:25px">
        <div class="card-body">
            <h2 class="card-title">@Model.Title</h2>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.YearOfRelease)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.YearOfRelease)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RunningTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RunningTime)
                </dd>
                <dt class="col-sm-2">
                    Average Rating
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AverageRatingForDisplay)
                </dd>
            </dl>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", "MovieAdmin", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}